<html ng-app="cartApp">
	<head>
		<title>Shopping Cart</title>
		<style type="text/css">
			.selected {
				background-color: lightgreen;
			}
			.borderClass {
				border: 1px solid lightgreen; 
			}
			td, tr {
				padding: 0;
				margin: 0;
				border: 1px solid darkgreen; 
			}
		</style>
	</head>
	<body>
		<h1>Order</h1>

		<div ng-controller="CartController">
			<div ng-repeat="item in items">
				<span ng-bind="item.title"></span>
				<input ng-model="item.quantity">
				<span ng-bind="item.price | currency"></span>
				<span ng-bind="item.price * item.quantity | currency"></span>
				<button ng-click="remove($index)">Remove</button>
			</div>
			<span>Total: <strong>{{total() | currency}}</strong></span><br>
			<span>Discount: <strong>{{bill.discount | currency}}</strong></span><br>
			<span>Subtotal: <strong>{{subTotal() | currency}}</strong></span><br>
		</div>

		<div ng-controller="FormController">
			<form>
				<fieldset>
					<legend>Check Box
					</legend>
						<label>Check This: <input type="checkbox" ng-model="flag" ng-change="updateMe()">
						</label>
				</fieldset>
			</form>
		</div>

		<div ng-controller="StartupController">
			<form ng-submit="submitMe()">
				<fieldset><legend>Funding Requirements</legend>
					Starting: <input ng-model="funding.startingEstimate">
					<p ng-bind="funding.needed | currency"></p>
					<button ng-click="schedule(1500)">Schedule</button>
				</fieldset>
				<fieldset>
					<input type="submit" value="Fund Me!">
				</fieldset>
			</form>
		</div>

		<div ng-controller="StudentController">
			<li ng-repeat="student in students">
				<a href="/student/view/{{student.id}}">{{student.name}}</a>
			</li>
			<p>Add Student:<br>
				Name: <input ng-model="tmpName"> Id: <input ng-model="tmpId"> <button ng-click="students.push({id: tmpId, name: tmpName});console.log(students);">Add</button></p>
		</div>

		<div ng-controller="TableController">
			<button ng-click="toggle()">Toggle Table!</button>
			<table>
				<tr ng-repeat="row in table" ng-show="showTable">
					<td ng-bind="$index + 1"></td>
					<td ng-bind="row.artist"></td>
					<td ng-bind="row.track"></td>
				</tr>
			</table>
		</div>

		<div ng-controller="CSSTable">
			<table>
				<tr ng-repeat="resturant in resturants" ng-click="selectResturant($index)"
				ng-class="{selected: $index==selectedResturant}">
					<td ng-class="{borderClass: $index==selectedResturant}">{{$index + 1}}</td>
					<td ng-class="{borderClass: $index==selectedResturant}">{{resturant.cusine}}</td>
					<td ng-class="{borderClass: $index==selectedResturant}">{{resturant.price}}</td>
				</tr>
			</table>
		</div>
<!-- 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
		 -->
		 <script type="text/javascript" src="public/js/libs/angular.js"></script>
		<script type="text/javascript" 
		src="http://localhost:8080/public/js/controllers/cart.js"></script>
	</body>
</html>